@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');
@import "tailwindcss";

:root {
  --f1-red: #FF1801;
  --f1-black: #000000;
  --f1-white: #FFFFFF;
  --f1-gray: #333333;
  --f1-blue: #00A0E9;
}

body {
  background-color: var(--f1-black);
  background-image: url('/checkered.svg');
  color: var(--f1-white);
  font-family: 'Titillium Web', sans-serif;
}